*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

/*Fuentes*/
/*Colores*/
.brand-Infusiones {
  background-color: #57aa5b; }

.brand-Chocolates {
  background-color: #856f34; }

.brand-Leches {
  background-color: #7d438f; }

.warningToasty,
.successToasty {
  font-family: "Inter", sans-serif;
  font-size: .8rem;
  border-radius: 25px;
  background: #ff8585;
  color: black; }

.successToasty {
  background: #85ff8b; }

body {
  margin-left: 0;
  margin-top: 80px;
  background-color: #eaf1f1;
  transition: margin-left 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

/* HEADER */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #212121;
  text-transform: capitalize;
  font-weight: bolder; }
  h1 span {
    font-weight: 300; }

.header {
  width: 100%;
  height: 80px;
  background: #644336;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: all .4s ease; }
  .header .header__bars {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    color: #ecd1a7; }
    .header .header__bars iconify-icon {
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute; }

.menu__side {
  width: 80px;
  height: 100%;
  border-right: 20px solid #644336;
  background-color: #644336;
  position: fixed;
  top: 0;
  left: -80px;
  color: #ecd1a7;
  z-index: 300;
  overflow-x: hidden;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  scrollbar-width: none; }
  .menu__side::-webkit-scrollbar {
    display: none; }
  .menu__side__page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 20px 30px;
    margin-top: 10px;
    width: 230px; }
    .menu__side__page h1 {
      line-height: 21px;
      margin-bottom: 0;
      color: #ecd1a7; }
      .menu__side__page h1 span {
        line-height: 21px;
        display: inline-block; }
    .menu__side__page iconify-icon {
      color: #ecd1a7;
      width: 20px;
      margin-right: 20px;
      font-weight: bold;
      font-size: 1.1rem; }
  .menu__side__options {
    padding: 20px 24px;
    position: absolute;
    top: 80px; }
    .menu__side__options a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      color: #ecd1a7;
      cursor: pointer;
      display: block;
      position: relative;
      left: 8%;
      transition: color .3s; }
      .menu__side__options a.selected {
        color: white;
        font-weight: 700; }
        .menu__side__options a.selected::before {
          content: '';
          width: 3px;
          height: 80%;
          background: white;
          position: absolute;
          top: 10%;
          left: -30%; }
      .menu__side__options a .option {
        margin: 20px 0;
        padding: 10px 0;
        display: flex;
        align-items: center;
        position: relative; }
        .menu__side__options a .option h2 {
          font-size: .95rem;
          margin-bottom: 0;
          font-weight: 300; }
        .menu__side__options a .option iconify-icon {
          width: 20px;
          margin-right: 20px;
          font-size: 1.1rem; }
        .menu__side__options a .option.shop-car iconify-icon {
          font-size: 1.1rem; }
        .menu__side__options a .option.shop-car #countCart {
          position: absolute;
          top: 0;
          left: 10%;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          color: ffffffc2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .95rem; }
      .menu__side__options a:hover {
        color: white; }

.start {
  background-color: #ecd1a7;
  height: 92vh;
  margin-top: 3.5rem;
  padding-left: 0;
  padding-right: 0; }
  .start .row {
    padding: 0;
    margin: 0; }
  .start__pyme h1 {
    color: #644336;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 400; }
    .start__pyme h1 span {
      font-weight: 100; }
  .start__pyme p {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #644336;
    line-height: 1; }
  .start__pyme__down a {
    font-size: 2rem;
    color: #644336; }
    .start__pyme__down a .animate__shakeY {
      --animate-duration: 5s; }
  .start__shop {
    max-width: 100%;
    height: 465px;
    background-image: url(../img/intro-shopping.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.body__move {
  margin-left: 80px; }

.menu__side__move {
  width: 80px;
  left: 0; }

/* MAIN */
#main {
  background-color: #eaf1f1;
  position: relative; }
  #main h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    color: #644336;
    font-weight: 400;
    padding-top: 80px; }
    #main h1 span {
      font-weight: 100; }
  #main .shop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #main .shop__card {
      width: 100%;
      position: relative;
      margin: 0 .75rem; }
      #main .shop__card button {
        display: block;
        line-height: 2;
        text-decoration: none;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        color: #ecd1a7;
        padding: 0.25rem 1rem;
        background-color: #644336;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: .9rem;
        border: 1px solid #c8c9c9;
        text-transform: uppercase;
        transition: all .3s ease-in-out; }
        #main .shop__card button span {
          font-size: .85rem; }
        #main .shop__card button:hover {
          background-color: #ecd1a7;
          color: #644336;
          border: 1px solid #ecd1a7;
          border-radius: 5px; }
          #main .shop__card button:hover:disabled {
            background-color: #a5a5a5;
            color: #525252;
            border: 1px solid #a5a5a5; }
        #main .shop__card button iconify-icon {
          line-height: 1;
          display: block;
          margin-right: .4rem; }
      #main .shop__card .style {
        height: 460px;
        font-family: sans-serif;
        border: 1px solid #64433671;
        border-radius: 2%; }
        #main .shop__card .style .img-container {
          height: 230px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          overflow: hidden;
          object-position: 100px 50px; }
          #main .shop__card .style .img-container img {
            display: block;
            width: 75%;
            transition: all .3s ease-in-out; }
      #main .shop__card__product {
        position: relative;
        background-color: transparent; }
        #main .shop__card__product .price,
        #main .shop__card__product .brand,
        #main .shop__card__product .like {
          position: absolute;
          top: 5%;
          padding: .3rem 1rem;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 1rem; }
        #main .shop__card__product .price {
          top: -1%;
          color: #212121;
          letter-spacing: -.1rem;
          font-family: "Roboto", sans-serif;
          font-size: 2rem;
          font-weight: 300; }
        #main .shop__card__product .brand {
          top: 90%;
          font-weight: 300;
          color: white;
          width: 70%; }
        #main .shop__card__product .like {
          display: block;
          top: 90%;
          right: 3%;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          background-color: #eaf1f1;
          box-shadow: unset;
          border: 1px solid #644336;
          cursor: pointer;
          transition: all .3s ease-in-out; }
          #main .shop__card__product .like iconify-icon {
            color: #644336; }
          #main .shop__card__product .like:hover {
            background-color: #644336;
            border-color: #644336; }
            #main .shop__card__product .like:hover iconify-icon {
              color: white; }
        #main .shop__card__product p {
          position: absolute;
          width: 100%;
          top: 53%;
          text-align: center;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.2rem;
          text-transform: uppercase;
          color: black; }
        #main .shop__card__product .sinStock {
          background-color: #fc4a4a;
          font-family: "Roboto", sans-serif;
          font-size: .75rem;
          color: white;
          position: absolute;
          top: 2%;
          right: 2%;
          padding: .2rem .5rem; }
        #main .shop__card__product .enStock {
          font-family: "Roboto", sans-serif;
          font-size: .75rem;
          position: absolute;
          top: 2%;
          right: 2%;
          padding: .2rem .5rem;
          background-color: unset;
          color: #212121; }
        #main .shop__card__product .description {
          position: absolute;
          top: 59%;
          padding: 1rem;
          font-family: "Inter", sans-serif;
          color: black;
          font-weight: 300;
          font-size: .85rem;
          text-align: center; }
  #main .modal__product {
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: #eaf1f1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    bottom: 0%;
    right: 5%;
    transform: translate(0%, 100%);
    transition: all .7s ease-in-out;
    z-index: 10;
    opacity: 0;
    overflow-y: auto; }
    #main .modal__product__active {
      transform: translate(0%, -5%);
      opacity: 1;
      z-index: 1050;
      box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.8); }
    #main .modal__product .modal__carrito {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem; }
      #main .modal__product .modal__carrito h3 {
        color: #644336;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: .5rem;
        margin: 0; }
        #main .modal__product .modal__carrito h3 span {
          font-weight: 100; }
      #main .modal__product .modal__carrito .btn-vaciar-carrito {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: #644336;
        border-radius: 20px;
        font-size: .6rem;
        padding: .25rem .5rem;
        background-color: #ecd1a7;
        border: 1px solid #ecd1a7;
        transition: all .3s ease; }
        #main .modal__product .modal__carrito .btn-vaciar-carrito:hover {
          background-color: #fc4a4a;
          border: 1px solid #fc4a4a;
          color: white; }
      #main .modal__product .modal__carrito #close {
        background-color: transparent;
        border: none;
        width: 10%; }
        #main .modal__product .modal__carrito #close iconify-icon {
          color: #644336;
          font-size: 1.75rem;
          transition: all .3s ease; }
          #main .modal__product .modal__carrito #close iconify-icon:hover {
            color: #fc4a4a; }
    #main .modal__product #noProducto p {
      color: #644336;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: .9rem;
      padding: 0 0.5rem;
      margin: 0; }
    #main .modal__product .productoEnCarrito {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      transition: all .3s ease-in-out; }
      #main .modal__product .productoEnCarrito p {
        color: #644336;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: .9rem;
        padding: 0 .5rem;
        margin: 0; }
      #main .modal__product .productoEnCarrito button {
        font-size: 1.6rem;
        padding-right: 1.4rem;
        background-color: transparent;
        border: none;
        color: #644336;
        transition: all .3s ease; }
        #main .modal__product .productoEnCarrito button:hover {
          color: #f1a036; }
      #main .modal__product .productoEnCarrito .btn-eliminar {
        position: absolute;
        top: 20%;
        right: 5%;
        padding: 0; }
      #main .modal__product .productoEnCarrito hr {
        color: #644336;
        width: 90%;
        margin: .75rem auto; }
      #main .modal__product .productoEnCarrito p.cantidades {
        width: 95%;
        display: flex;
        align-items: center;
        padding: 0; }
        #main .modal__product .productoEnCarrito p.cantidades span {
          margin-right: .4rem; }
        #main .modal__product .productoEnCarrito p.cantidades .btn-cantidades {
          font-size: 1.5rem;
          padding: 0 .3rem;
          line-height: 1rem; }
      #main .modal__product .productoEnCarrito .inCart {
        width: 95%;
        border-left: 5px solid #f1a036; }
    #main .modal__product .resumen #pagoEnCuotas {
      display: flex;
      flex-direction: column; }
      #main .modal__product .resumen #pagoEnCuotas p {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-size: .95rem;
        text-align: center;
        line-height: 1;
        color: #644336; }
        #main .modal__product .resumen #pagoEnCuotas p iconify-icon {
          position: absolute;
          top: 0;
          left: 11%;
          display: inline-block;
          margin-right: .2rem;
          font-size: 1.8rem;
          line-height: 1;
          color: #f1a036; }
        #main .modal__product .resumen #pagoEnCuotas p span {
          display: block;
          width: 100%;
          text-align: center;
          padding-top: .3rem;
          font-weight: bold;
          color: #644336; }
    #main .modal__product #btn-end {
      display: block;
      line-height: 2;
      text-decoration: none;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      color: #644336;
      padding: 0.5rem 1rem;
      background-color: transparent;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: .9rem;
      border: 1px solid #644336;
      text-transform: uppercase;
      transition: all .3s ease-in-out; }
      #main .modal__product #btn-end:hover {
        background-color: #008006;
        border: 1px solid #008006;
        border-radius: 5px;
        color: #eaf1f1; }
      #main .modal__product #btn-end iconify-icon {
        line-height: 1;
        display: block;
        margin-right: .4rem; }
    #main .modal__product #total,
    #main .modal__product #impuestos,
    #main .modal__product #totalFinal {
      font-family: "Roboto", sans-serif;
      color: #644336;
      font-size: 1rem;
      padding: 0 .5rem;
      text-align: center;
      line-height: 1; }
    #main .modal__product #totalFinal {
      font-size: 1.3rem;
      font-weight: 700; }

.swal2-popup .swal2-title {
  font-family: "Inter", sans-serif;
  font-size: 1rem; }

.swal2-popup .swal2-html-container {
  font-family: "Inter", sans-serif;
  font-size: .9rem;
  color: #212121; }

.swal2-popup .swal2-actions .swal2-styled.swal2-confirm {
  border: 1px solid #212121;
  border-radius: 0.25em;
  background: initial;
  font-family: Roboto;
  text-transform: none;
  background-color: white;
  color: #212121;
  font-size: 1em;
  padding: 0.25rem 2.5rem;
  transition: background-color .3s ease-in-out; }
  .swal2-popup .swal2-actions .swal2-styled.swal2-confirm:hover {
    background-color: #85ff8b;
    border-color: #4c924f; }

@media screen and (min-width: 479.98px) {
  #main .shop__card {
    width: 80%;
    margin: 0 auto; }
    #main .shop__card button {
      width: 40%; } }

@media screen and (min-width: 575.98px) {
  .start__pyme h1 {
    font-size: 3rem; }
  .start__pyme p {
    font-size: 1rem; }
  #main h1 {
    font-size: 3rem; }
  #main .shop__card button {
    font-size: 1rem; }
    #main .shop__card button iconify-icon {
      margin-right: 0; }
  #main .modal__product .resumen #pagoEnCuotas p iconify-icon {
    left: 25%; }
  #main .modal__product .modal__carrito .btn-vaciar-carrito {
    font-size: .8rem;
    padding: .30rem .55rem; } }

@media screen and (min-width: 767.98px) {
  #main .shop {
    justify-content: space-evenly; }
    #main .shop__card {
      width: 48%; }
      #main .shop__card button {
        width: 50%; }
        #main .shop__card button iconify-icon {
          margin-right: 0.5rem; }
  #main .modal__product .productoEnCarrito {
    flex-direction: row;
    padding-left: .5rem; }
    #main .modal__product .productoEnCarrito .inCart {
      width: 40%; }
    #main .modal__product .productoEnCarrito p.cantidades {
      width: 55%; }
  #main .modal__product .resumen #pagoEnCuotas {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    #main .modal__product .resumen #pagoEnCuotas p {
      display: inline-block; }
      #main .modal__product .resumen #pagoEnCuotas p iconify-icon {
        left: -21%; }
  #main .modal__product #btn-end {
    width: 50%; }
  #body {
    margin-left: 230px; }
    #body.body__move {
      margin-left: 80px; }
  .menu__side {
    left: 0;
    width: 230px; }
  .menu__side__move {
    width: 80px;
    left: 0; } }

@media screen and (min-width: 991.98px) {
  #main .shop__card {
    width: 44%; }
    #main .shop__card button {
      width: 45%; }
      #main .shop__card button iconify-icon {
        margin-right: 0rem; }
  #main .modal__product {
    width: 75%;
    right: 12%; }
    #main .modal__product .productoEnCarrito {
      flex-direction: row; }
      #main .modal__product .productoEnCarrito .inCart {
        width: 40%; }
      #main .modal__product .productoEnCarrito p.cantidades {
        width: 55%; }
    #main .modal__product__active {
      transform: translate(0%, -10%); } }

@media screen and (min-width: 1279.98px) {
  #main .shop__card {
    width: 29%; }
  #main .modal__product {
    right: 13%; } }

@media screen and (min-width: 1365.98px) {
  /* HEADER */
  .start {
    padding-left: 0;
    padding-right: 0; }
    .start .row {
      padding: 0;
      margin: 0; }
    .start__pyme h1 {
      margin: 0 auto;
      text-align: center;
      font-size: 3rem;
      margin-top: 2rem; }
    .start__pyme p {
      font-size: 1rem;
      line-height: 1.2; }
    .start__shop {
      max-width: 100%;
      height: 92vh;
      background-image: url(../img/intro-shopping.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  /* MAIN */
  #main .shop__card {
    width: 30%;
    margin: 0 .5rem;
    margin-bottom: 3rem; }
    #main .shop__card .style {
      height: 450px; }
      #main .shop__card .style .img-container {
        height: 250px; }
    #main .shop__card__product .price,
    #main .shop__card__product .brand,
    #main .shop__card__product .like {
      top: 5%; }
    #main .shop__card__product .price {
      top: 0%; }
    #main .shop__card__product .brand {
      top: 10%;
      width: 50%; }
    #main .shop__card__product .like {
      top: 90%;
      right: 45%; }
    #main .shop__card__product p {
      top: 55%; }
    #main .shop__card__product .description {
      top: 63%; }
  #main .modal__product {
    width: 60vw;
    height: 75vh;
    bottom: 0%;
    right: 20%; }
    #main .modal__product .productoEnCarrito {
      flex-direction: row;
      justify-content: flex-start; }
      #main .modal__product .productoEnCarrito .inCart {
        width: 40%; }
      #main .modal__product .productoEnCarrito p.cantidades {
        justify-content: space-evenly;
        width: 40%; }
    #main .modal__product__active {
      transform: translate(0%, -10%); } }
