*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

/*Fuentes*/
/*Colores*/
.brand-Infusiones {
  background-color: #028309; }

.brand-Chocolates {
  background-color: #856203; }

.brand-Leches {
  background-color: #670385; }

/* HEADER */
h1 {
  font-family: "Zilla Slab", serif;
  font-size: 2.7rem;
  color: #212121;
  text-transform: uppercase;
  font-weight: bolder; }

.container-fluid.header {
  position: relative;
  padding: 0; }
  .container-fluid.header .navbar {
    position: absolute;
    width: 50%;
    z-index: 10; }
    .container-fluid.header .navbar-brand {
      width: 10%;
      margin: 0; }
    .container-fluid.header .navbar-collapse {
      width: 90%; }
      .container-fluid.header .navbar-collapse .navbar-nav {
        width: 100%;
        justify-content: center;
        margin-right: 0; }
      .container-fluid.header .navbar-collapse .nav-item .nav-link {
        color: #212121;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Zilla Slab", serif;
        font-size: 1.10rem;
        letter-spacing: 0.1rem; }
        .container-fluid.header .navbar-collapse .nav-item .nav-link:hover {
          color: #ee7500; }

.start {
  height: 100vh;
  padding-left: 0;
  padding-right: 0; }
  .start .row {
    padding: 0;
    margin: 0; }
  .start__pyme {
    height: 100vh; }
    .start__pyme h1 {
      margin: 0; }
    .start__pyme p {
      font-family: "Rubik", sans-serif;
      font-size: 1.2rem;
      line-height: 1.2; }
    .start__pyme__down a {
      font-size: 3rem;
      color: #ee7500; }
      .start__pyme__down a .animate__shakeY {
        --animate-duration: 5s; }
  .start__shop {
    height: 100vh;
    background-image: url(../img/intro-shopping.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

/* MAIN */
#main h1 {
  font-family: "Zilla Slab", serif;
  color: #212121; }

#main .shop {
  display: flex;
  flex-wrap: wrap; }
  #main .shop__card {
    width: 33%;
    position: relative;
    margin-bottom: 3rem; }
    #main .shop__card .style {
      font-family: sans-serif; }
      #main .shop__card .style .img-container {
        position: relative;
        height: 400px;
        overflow: hidden; }
        #main .shop__card .style .img-container img {
          position: absolute;
          top: 0;
          transition: all .3s ease-in-out; }
    #main .shop__card__product {
      position: relative; }
      #main .shop__card__product .price,
      #main .shop__card__product .brand,
      #main .shop__card__product .like {
        position: absolute;
        top: 5%;
        padding: .3rem 1rem;
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.7);
        font-family: "Oswald", sans-serif;
        color: black;
        font-weight: 600;
        font-size: 1.2rem; }
      #main .shop__card__product .price {
        background-color: white; }
      #main .shop__card__product .brand {
        top: 12%;
        font-weight: 300;
        color: white; }
      #main .shop__card__product .like {
        top: 72%;
        right: 5%;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        #main .shop__card__product .like:hover {
          background-color: red; }
          #main .shop__card__product .like:hover iconify-icon {
            color: white; }
      #main .shop__card__product p {
        position: absolute;
        width: 90%;
        top: 73%;
        left: 2%;
        text-align: left;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        color: white; }
      #main .shop__card__product a {
        display: block;
        text-decoration: none;
        width: 33%;
        margin: 0 auto;
        text-align: center;
        color: white;
        padding: 0.5rem 1rem;
        background-color: black;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid black;
        text-transform: uppercase;
        transition: all .3s ease-in-out; }
        #main .shop__card__product a:hover {
          background-color: transparent;
          color: black;
          border: 1px solid black;
          border-radius: 5px; }
