body{
    margin-left: 0;
    margin-top: 80px;
    background-color: $color-Plata;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* HEADER */
h1 {
    font-family: $fuente-Roboto;
    font-size: 1rem;
    color: $color-gris-oscuro;
    text-transform: capitalize;
    font-weight: bolder;

    span {
        font-weight: 300;
    }
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background: $color-Marron;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 200;
    transition: all .4s ease;

    .header__bars{
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(10px);
        color: $color-BeigeSuave;

        iconify-icon{
            font-size: 1.5rem;
            cursor: pointer;
            position: absolute;
        }
    }

}

.menu__side {
    width: 80px;
    height: 100%;
    border-right: 20px solid $color-Marron;
    background-color: $color-Marron;
    position: fixed;
    top: 0;
    left: -80px;
    color: $color-BeigeSuave;
    z-index: 300;
    overflow-x: hidden;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    //ocultar para explorer, mozilla
    scrollbar-width: none;

    //Ocultar menu para chrome, safari y opera
    &::-webkit-scrollbar{
        display: none;
    }

    &__page {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 20px 30px;
        margin-top: 10px;
        width: 230px;

        h1{
            line-height: 21px;
            margin-bottom: 0;
            color: $color-BeigeSuave;

            span{
                line-height: 21px;
                display: inline-block;
            }
        }

        iconify-icon{
            color: $color-BeigeSuave;
            width: 20px;
            margin-right: 20px;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    &__options {
        padding: 20px 24px;
        position: absolute;
        top: 80px;

        a {
            text-decoration: none;
            font-family: $fuente-Roboto;
            color: $color-BeigeSuave;
            cursor: pointer;
            display: block;
            position: relative;
            left: 8%;
            transition: color .3s;

            &.selected{
                color: white;
                font-weight: 700;

                &::before{
                    content: '';
                    width: 3px;
                    height: 80%;
                    background: white;
                    position: absolute;
                    top: 10%;
                    left: -30%;
                }
            }

            .option {
                margin: 20px 0;
                padding: 10px 0;
                display: flex;
                align-items: center;
                position: relative;

                h2 {
                    font-size: .95rem;
                    margin-bottom: 0;
                    font-weight: 300;
                }

                iconify-icon{
                    width: 20px;
                    margin-right: 20px;
                    font-size: 1.1rem;
                }

                &.shop-car {

                    iconify-icon {
                        font-size: 1.1rem;
                    }

                    #countCart{
                        position: absolute;
                        top: 0;
                        left: 10%;
                        border-radius: 50%;
                        width: 22px;
                        height: 22px;
                        color: ffffffc2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: .95rem;
                    }
                }
            }

            &:hover{
                color: white;
            }

        }

    }
}

.start {
    background-color: $color-BeigeSuave;
    height: 100vh;
    margin-top: 3.5rem;
    padding-left: 0;
    padding-right: 0;

    .row {
        padding: 0;
        margin: 0;
    }

    &__pyme {

        h1 {
            color: $color-Marron;
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;
            margin-top: 2rem;
            font-weight: 400;

            span {
                font-weight: 100;
            }
        }

        p {
            font-family: $fuente-Roboto;
            font-size: .9rem;
            font-weight: 300;
            color: $color-Marron;
            line-height: 1;
        }

        &__down a {
            font-size: 2rem;
            color: $color-Marron;

            .animate__shakeY {
                --animate-duration: 5s;
            }
        }
    }

    &__shop {
        max-width: 100%;
        height: 58vh;
        background-image: url(../img/intro-shopping.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.body__move{
    margin-left: 80px;
}

.menu__side__move{
    width: 80px;
    left: 0;
}

.header #search.search__move{
    margin-right: 22%;
}