/* HEADER */
h1{
    font-family: $fuente-Zilla;
    font-size: 2.7rem;
    color: $color-gris-oscuro;
    text-transform: uppercase;
    font-weight: bolder;
}

.container-fluid.header{
    position: relative;
    padding: 0;

    .navbar{
        // position: absolute;
        // width: 50%;
        // z-index: 10;
        background-color: #f3f3f3;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);

        &-collapse{
            width: 100%;

            .navbar-nav{
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-right: 0;

                & li:nth-child(4){
                    width: 100px;
                    text-align: right;
                }
            }

            .nav-item {

                .nav-link{
                    color: $color-gris-oscuro;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-family: $fuente-Inter;
                    font-size: 1rem;

                    &:hover{
                        color: $color-violet;
                    }
                }

                .shop-car{
                    color: #212121;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    margin: 0 auto;
                    transition: all .3s ease-in-out ;

                    iconify-icon{
                        font-size: 1.25rem;
                        padding-right: 5px;
                    }

                    &:hover{
                        background-color: $color-violet;
                        border: 1px solid $color-violet;

                        iconify-icon,
                        span{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.start{
    height: 100vh;
    padding-left: 0;
    padding-right: 0;

    .row{
        padding: 0;
        margin: 0;
    }

    &__pyme{
        height: 100vh;

        h1{
            margin: 0;
        }

        p{
            font-family: $fuente-Inter;
            font-size: 1rem;
            line-height: 1.2;
        }

        &__down a{
            font-size: 3rem;
            color: $color-violet;

            .animate__shakeY{
                --animate-duration: 5s;
            }
        }
    }

    &__shop{
        height: 100vh;
        background-image: url(../img/intro-shopping.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
