/* HEADER */
h1{
    font-family: $fuente-Zilla;
    font-size: 2.7rem;
    color: $color-gris-oscuro;
    text-transform: uppercase;
    font-weight: bolder;
}

.container-fluid.header{
    position: relative;
    padding: 0;

    .navbar{
        position: absolute;
        width: 100%;
        z-index: 10;

        &-brand{
            width: 20%;
        }

        &-collapse{
            width: 80%;

            .navbar-nav{
                width: 100%;
                justify-content: flex-end;
                margin-right: 0;
            }

            .nav-item .nav-link{
                color: #dedede;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $fuente-Zilla;
                font-size: 1.10rem;
                letter-spacing: 0.1rem;

                &:hover{
                    color: $color-persimmon;
                }
            }
        }
    }
}

.start{
    height: 100vh;
    padding-left: 0;
    padding-right: 0;

    .row{
        padding: 0;
        margin: 0;
    }

    &__pyme{
        height: 100vh;

        h1{
            margin: 0;
        }

        p{
            font-family: $fuente-Rubik;
            font-size: 1.2rem;
            line-height: 1.2;
        }

        &__down a{
            font-size: 3rem;
            color: $color-persimmon;

            .animate__shakeY{
                --animate-duration: 5s;
            }
        }
    }

    &__shop{
        height: 100vh;
        background-image: url(../img/intro-shopping.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* MAIN */
#main{
    height: 700px;

    h1{
        font-family: $fuente-Zilla;
        color: $color-gris-oscuro;
    }

    .shop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        justify-items: center;
        align-items: center;
        gap: 20px;

        &__card{
            position: relative;
            width: 300px;
            overflow: hidden;
            margin: auto;
            padding: .8rem;
            border-radius: 2%;
            border: 1px solid $color-almond;
            transition: all .6s ease-in-out;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
            text-align: center;


            .brand{
                position: absolute;
                top: 2%;
                left: 2%;

                h2{
                    color: $color-almond;
                    font-family: $fuente-Rubik;
                    font-size: 1.15rem;
                    font-weight: 200;
                }
            }

            &__header img{
                position: relative;
                border-radius: 50%;
                display: block;
                height: 200px;
                width: 200px;
                border-top: 8px solid $color-almond;
                border-bottom: 8px solid $color-almond;
                object-fit: cover;
                margin: 20px auto 15px;
                transition: all .3s ease;
            }

            &__content{
                .content__price{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-between;

                    .price{
                        color: $color-almond;
                        font-family: $fuente-Rubik;
                        font-weight: 300;
                        font-size: 1.4rem;
                    }

                    .title{
                        color: $color-almond;
                        font-family: $fuente-Rubik;
                        font-weight: 700;
                        font-size: 1.20rem;
                        text-transform: uppercase;
                        line-height: 1.3rem;
                    }
                }

                .description p{
                    font-family: $fuente-Rubik;
                    color: $color-almond;
                    font-size: .85rem;
                    font-weight: 300;
                    text-align: left;
                    padding: 0;
                }

            }

            &__actions{

                .btn_shop_card{
                    width: 75%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid $color-almond;
                    background-color: transparent;
                    border-radius: 20px;
                    padding: 5px 10px;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $color-almond;

                        span,
                        .market{
                            color: $color-gris-oscuro;
                        }
                    }

                    .market{
                        color: $color-almond;
                        font-size: 1.2rem;
                    }

                    span{
                        font-family: $fuente-Oswald;
                        font-size: 1.2rem;
                        color: $color-almond;
                    }
                }
            }
        }



    }
}
