/* MAIN */
#main{
    background-color: $color-Plata;
    position: relative;

    h1{
        font-size: 2rem;
        font-family: $fuente-Roboto;
        color: $color-Marron;
        font-weight: 400;
        padding: 80px 0 0;
        margin-bottom: 0;

        span{
            font-weight: 100;
        }

    }

    #listadoCategorias{
        font-family: $fuente-Inter;
        color: $color-Marron;
        font-size: .75rem;
        font-weight: 300;

        span{
            border: 1px solid $color-Marron;
            border-radius: 20px;
            padding: .2rem .6rem;
            background-color: $color-Marron;
            color: $color-BeigeSuave;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover{
                color: $color-Plata;
            }
        }
    }

    #formSearch{
        position: relative;
        font-family: $fuente-Roboto;
        width: 90%;
        margin: 0 auto;
        font-size: .8rem;
        transition: margin-right .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);


        iconify-icon{
            position: absolute;
            top: 28%;
            right: 4%;
            color: $color-Marron;
            font-size: 1.2rem;
            transition: font-size .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type ="buscar"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none; }

            input{
            font-size: .9rem;
            background-color: transparent;
            border: unset;
            border-bottom: 1px solid $color-Marron;
            border-radius: 0;
            color: $color-Marron;

            &::placeholder{
                color: $color-Marron;
                font-style: italic;
                font-weight: 300;
                font-size: .8rem;
            }

            &:focus{
                box-shadow: unset;
            }
        }
    }

    #destacados{
        background-color: $color-Marron;

        h1{
            font-size: 2rem;
            font-family: $fuente-Roboto;
            color: $color-BeigeSuave;
            font-weight: 400;
            padding: 80px 0 0;

            span{
                font-weight: 100;
            }
        }

        .carousel{
            &-indicators button{
                background-color: $color-BeigeSuave;
            }

            .carousel-inner{
                height: 550px;
                padding: 1.5rem 0;

                img{
                    display: block;
                    width: 250px;
                    height: auto;
                    margin: 0 auto;
                }

                .carousel-item{
                    position: relative;

                    .carousel-caption{
                        position: relative;

                        h5{
                            font-family: $fuente-Montserrat;
                            text-transform: uppercase;
                            width: 100%;
                            position: relative;
                            right: 15%;
                        }

                        p{
                            font-family: $fuente-Roboto;
                            font-size: .9rem;
                            font-weight: 300;
                            position: relative;
                            right: 15%;
                            width: 100%;
                            padding: .5rem 1rem;
                            margin-bottom: 0;
                        }

                        .price{
                            position: relative;
                            right: 15%;
                            font-family: $fuente-Inter;
                            color: $color-BeigeSuave;
                            font-size: 2rem;
                            font-weight: 200;
                        }

                        .vendidos{
                            font-family: $fuente-Roboto;
                            font-size: .8rem;
                            color: $color-BeigeSuave;
                            position: absolute;
                            top: 90%;
                            right: 15%;
                        }
                    }
                }
            }
        }
    }

    .shop{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .description{
                font-family: $fuente-Inter;
                color: $color-Marron;
                font-weight: 400;
                font-size: 1rem;
        }

        p.description{
            display: block;
            height: 500px;
        }

        &__card{
            width: 100%;
            position: relative;
            margin: 0 .75rem;
            transition: all .3s ease-out;

            &.animate__animated{
                --animate-duration: 2s;
            }

            button{
                display: block;
                line-height: 2;
                text-decoration: none;
                width: 50%;
                margin: 0 auto;
                text-align: center;
                color: $color-BeigeSuave;
                padding: 0.25rem 1rem;
                background-color: $color-Marron;
                font-family: $fuente-Montserrat;
                font-weight: 400;
                font-size: .9rem;
                border: 1px solid $color-Plata-II;
                text-transform: uppercase;
                transition: all .3s ease-in-out;

                span{
                    font-size: .85rem;
                }

                &:hover{
                    background-color: $color-BeigeSuave;
                    color: $color-Marron;
                    border: 1px solid $color-BeigeSuave;
                    border-radius: 5px;

                    &:disabled{
                        background-color: rgb(165, 165, 165);
                        color: rgb(82, 82, 82);
                        border: 1px solid rgb(165, 165, 165);
                    }
                }

                iconify-icon{
                    line-height: 1;
                    display: block;
                    margin-right: .4rem;
                }

            }

            .style{
                height: 480px;
                font-family: sans-serif;
                border: 1px solid $color-Marron-Bordes;
                border-radius: 2%;


                .img-container{
                    height: 260px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    object-position: 100px 50px;

                    img{
                        display: block;
                        width: 65%;
                        transition: all .3s ease-in-out;
                    }
                }
            }

            &__product{
                position: relative;
                background-color: transparent;

                .price,
                .brand,
                .like{
                    position: absolute;
                    top: 5%;
                    padding: .3rem 1rem;
                    font-family: $fuente-Roboto;
                    font-weight: 600;
                    font-size: 1rem;
                }
                .price{
                    top: -1%;
                    color: $color-Marron;
                    letter-spacing: -.1rem;
                    font-family: $fuente-Roboto;
                    font-size: 2rem;
                    font-weight: 300;
                }
                .brand{
                    top: 90%;
                    font-weight: 300;
                    color: white;
                    width: 72%;
                }
                .like{
                    display: block;
                    top: 90%;
                    right: 3%;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    background-color: $color-Plata;
                    box-shadow: unset;
                    border: 1px solid $color-Marron;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    iconify-icon{
                        color: $color-Marron;
                    }

                    &:hover{
                        background-color: $color-Marron;
                        border-color: $color-Marron;

                        iconify-icon{
                            color: white;
                        }
                    }
                }

                p{
                    position: absolute;
                    width: 100%;
                    margin: 0 auto;
                    top: 47%;
                    text-align: center;
                    font-family: $fuente-Montserrat;
                    font-weight: 500;
                    font-size: 1.1rem;
                    line-height: 1.2rem;
                    text-transform: uppercase;
                    color: $color-Marron;
                }

                .sinStock{
                    background-color: rgb(252, 74, 74);
                    font-family: $fuente-Roboto;
                    font-size: .75rem;
                    color: white;
                    position: absolute;
                    top: 2%;
                    right: 2%;
                    padding: .2rem .5rem;
                }

                .enStock{
                    font-family: $fuente-Roboto;
                    font-size: .75rem;
                    position: absolute;
                    top: 2%;
                    right: 2%;
                    padding: .2rem .5rem;
                    background-color: unset;
                    color: #212121;
                }

                .description{
                    position: absolute;
                    top: 54%;
                    padding: 1rem;
                    font-family: $fuente-Inter;
                    color: $color-Marron;
                    font-weight: 300;
                    font-size: .85rem;
                    text-align: center;
                }

            }

        }

    }

    .modal__product{
        position: fixed;
        width: 90vw;
        height: 90vh;
        background-color: $color-Plata;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
        bottom: 0%;
        right: 5%;
        transform: translate(0%, 100%);
        transition: all .7s ease-in-out;
        z-index: 10;
        opacity: 0;
        overflow-y: auto;

        &__active{
            transform: translate(0%, -5%);
            opacity: 1;
            z-index: 1050;
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .8);
        }

        .modal__carrito{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1rem;

            h3{
                color: $color-Marron;
                font-family: $fuente-Roboto;
                font-weight: 400;
                text-transform: uppercase;
                padding-left: .5rem;
                margin: 0;

                span{
                    font-weight: 100;
                }
            }

            .btn-vaciar-carrito{
                font-family: $fuente-Montserrat;
                font-weight: 500;
                text-transform: uppercase;
                color: $color-Marron;
                border-radius: 20px;
                font-size: .6rem;
                padding: .25rem .5rem;
                background-color: $color-BeigeSuave;
                border: 1px solid $color-BeigeSuave;
                transition: all .3s ease;

                &:hover{
                    background-color: rgb(252, 74, 74);
                    border: 1px solid rgb(252, 74, 74);
                    color: white;
                }
            }

            #close{
                background-color: transparent;
                border: none;
                width: 10%;

                iconify-icon{
                    color: $color-Marron;
                    font-size: 1.75rem;
                    transition: all .3s ease;

                    &:hover{
                        color: rgb(252, 74, 74);
                    }
                }
            }
        }

        #noProducto{
            p{
                color: $color-Marron;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: .9rem;
                padding: 0 0.5rem;
                margin: 0;
            }
        }

        .productoEnCarrito{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            transition: all .3s ease-in-out;

            p{
                color: $color-Marron;
                font-family: $fuente-Roboto;
                font-weight: 400;
                font-size: .9rem;
                padding: 0 .5rem;
                margin: 0;
            }

            button{
                font-size: 1.6rem;
                padding-right: 1.4rem;
                background-color: transparent;
                border: none;
                color: $color-Marron;
                transition: all .3s ease;

                &:hover{
                    color: $color-Naranja;
                }
            }

            .btn-eliminar{
                position: absolute;
                top: 20%;
                right: 5%;
                padding: 0;
            }

            hr{
                color: $color-Marron;
                width: 90%;
                margin: .75rem auto;
            }

            p.cantidades{
                width: 95%;
                display: flex;
                align-items: center;
                padding: 0;

                span{
                    margin-right: .4rem;
                }

                .btn-cantidades{
                    font-size: 1.5rem;
                    padding: 0 .3rem;
                    line-height: 1rem;
                }
            }

            .inCart{
                width: 95%;
                border-left: 5px solid $color-Naranja;
            }
        }

        .resumen #pagoEnCuotas{
            display: flex;
            flex-direction: column;

            p{
                position: relative;
                font-family: $fuente-Roboto;
                font-size: .95rem;
                text-align: center;
                line-height: 1;
                color: $color-Marron;

                iconify-icon{
                    position: absolute;
                    top: 0;
                    left: 11%;
                    display: inline-block;
                    margin-right: .2rem;
                    font-size: 1.8rem;
                    line-height: 1;
                    color: $color-Naranja;
                }

                span{
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding-top: .3rem;
                    font-weight: bold;
                    color: $color-Marron;
                }
            }
        }

        #btn-end{
            display: block;
            line-height: 2;
            text-decoration: none;
            width: 70%;
            margin: 0 auto;
            text-align: center;
            color: $color-Marron;
            padding: 0.5rem 1rem;
            background-color: transparent;
            font-family: $fuente-Montserrat;
            font-weight: 600;
            font-size: .9rem;
            border: 1px solid $color-Marron;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: rgb(0, 128, 6);
                border: 1px solid rgb(0, 128, 6);
                border-radius: 5px;
                color: $color-Plata;

            }

            iconify-icon{
                line-height: 1;
                display: block;
                margin-right: .4rem;
            }

        }

        #total,
        #impuestos,
        #totalFinal{
            font-family: $fuente-Roboto;
            color: $color-Marron;
            font-size: 1rem;
            padding: 0 .5rem;
            text-align: center;
            line-height: 1;
        }

        #totalFinal{
            font-size: 1.3rem;
            font-weight: 700;
        }

    }
}
