@media screen and (min-width: 479.98px) {
    .start__shop{
        height: 60vh;
    }

    #main {

        #formSearch{
            width: 75%;
        }

        .shop {

            &__card {
                width: 80%;
                margin: 0 auto;

                button {
                    width: 50%;
                }
            }

        }
    }
}

@media screen and (min-width: 575.98px) {

    .start {

        &__pyme {

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #main {

        h1 {
            font-size: 3rem;
        }

        #formSearch{
            width: 60%;
        }

        #listadoCategorias{
            width: 75%;
            margin: 0 auto;
        }

        .shop__card{

            &__product{

                p{
                    top: 48%;
                }
            }

            button {
                font-size: 1rem;

                iconify-icon {
                    margin-right: 0;
                }
            }
        }

        .modal__product {
            .resumen #pagoEnCuotas {
                p {
                    iconify-icon {
                        left: 25%;
                    }
                }
            }

            .modal__carrito {
                .btn-vaciar-carrito {
                    font-size: .8rem;
                    padding: .30rem .55rem;
                }
            }
        }
        #destacados{
            background-color: $color-Marron;

            h1{
                font-size: 3rem;
            }

            .carousel{

                .carousel-inner{
                    height: 350px;
                    padding: 1.5rem 0;

                    img{
                        width: 275px;
                        height: auto;
                        position: relative;
                        left: -28%;
                    }

                    .carousel-item{

                        .carousel-caption{
                            top: 0;

                            h5{
                                width: 50%;
                                position: absolute;
                                top: -565%;
                                right: 20%;
                            }

                            p{
                                position: absolute;
                                top: -460%;
                                right: 15%;
                                width: 60%;
                            }

                            .price{
                                position: absolute;
                                top: -225%;
                                right: 35%;
                            }

                            .vendidos{
                                top: -110%;
                                right: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {

    #main {

        #formSearch{
            width: 50%;
        }

        #modal__final{

            button{
                width: 50%;
            }
        }

        .shop {
            justify-content: space-evenly;

            &__card {
                width: 48%;

                .style{
                    height: 450px;
                }

                button {
                    width: 45%;

                    iconify-icon {
                        margin-right: 0.5rem;
                    }
                }

                &__product{
                    p{
                        top: 53%;
                    }

                    .description{
                        top: 58%;
                    }
                }
            }

        }

        .modal__product {

            .productoEnCarrito {
                flex-direction: row;
                padding-left: .5rem;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    width: 55%;
                }
            }

            .resumen #pagoEnCuotas {
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                p {
                    display: inline-block;

                    iconify-icon {
                        left: -21%;
                    }
                }

            }

            #btn-end {
                width: 50%;
            }
        }

        #destacados{

            .carousel{

                .carousel-inner{
                    height: 320px;
                    padding: 1.5rem 0;

                    img{
                        width: 250px;
                        height: auto;
                    }

                    .carousel-item{
                        height: 320px;
                        position: relative;

                        .carousel-caption{
                            position: absolute;
                            top: 0;

                            h5{
                                position: absolute;
                                top: 4%;
                                right: -15%;
                                width: 75%;
                            }

                            p{
                                position: absolute;
                                top: 20%;
                                right: -17%;
                                width: 80%;
                            }

                            .price{
                                position: absolute;
                                top: 58%;
                                right: 8%;
                            }

                            .vendidos {
                                top: 70%;
                                right: -17%;
                            }
                        }
                    }
                }
            }
        }
    }

    #body {
        margin-left: 230px;

        &.body__move {
            margin-left: 0px;
        }
    }

    .menu__side {
        left: 0;
        width: 230px;
    }

    .menu__side__move {
        width: 0px;
        left: -230px;
    }

}

@media screen and (min-width: 991.98px) {
    .start{
        height: 90vh;

        &__shop{
            height: 90vh;
        }

        &__pyme{
            h1{
                font-size: 2.8rem;
            }
        }
    }

    #main {

        .shop {

            &__card {
                width: 44%;

                button {
                    width: 45%;

                    iconify-icon {
                        margin-right: 0rem;
                    }
                }
            }

        }

        #destacados{
            .carousel{

                .carousel-inner{
                    height: 400px;
                    padding: 1.5rem 0;

                    img{
                        display: block;
                        width: 300px;
                        height: auto;
                        left: -26%;
                    }

                    .carousel-item{
                        height: 320px;
                        position: relative;

                        .carousel-caption{
                            position: absolute;
                            top: 0;

                            h5{
                                position: absolute;
                                top: 20%;
                                right: -25%;
                                width: 100%;
                            }

                            p{
                                position: absolute;
                                top: 30%;
                                right: -10%;
                                width: 70%;
                                margin-bottom: 0;
                            }

                            .price{
                                position: absolute;
                                top: 60%;
                                right: 16%;
                            }

                            .vendidos {
                                top: 75%;
                                right: -10%;
                            }
                        }
                    }
                }
            }
        }

        .modal__product {
            width: 75%;
            right: 12%;

            .productoEnCarrito {
                flex-direction: row;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    width: 55%;
                }
            }

            &__active {
                transform: translate(0%, -10%);
            }
        }
    }

    #body {
        margin-left: 80px;

        &.body__move {
            margin-left: 230px;
        }
    }

    .menu__side {
        left: 0;
        width: 80px;

        &__page {
            width: 215px;
        }
    }

    .menu__side__move {
        width: 230px;
        left: 0px;
    }
}

@media screen and (min-width: 1279.98px) {
    .start{
        height: 90vh;

        &__pyme{
            h1{
                font-size: 3rem;
            }
        }
    }

    #main {
        #listadoCategorias{
            width: 50%;
        }

        #formSearch{
            width: 30%;
        }

        .shop {

            &__card {
                width: 29%;
            }

        }

        .modal__product {
            height: 95vh;
            right: 13%;
            transform: translate(0%, 100%);

            &__active{
                transform: translate(0%, -2%);
            }
        }

        #destacados{
            .carousel{

                .carousel-inner{
                    height: 450px;
                    padding: 1.5rem 0;

                    img{
                        display: block;
                        width: 350px;
                        height: auto;
                        left: -16%;
                    }

                    .carousel-item{
                        height: 320px;
                        position: relative;

                        .carousel-caption{
                            position: absolute;
                            top: -7%;

                            h5{
                                position: absolute;
                                top: 35%;
                                right: -25%;
                                width: 100%;
                            }

                            p{
                                position: absolute;
                                top: 45%;
                                right: 0%;
                                width: 50%;
                                margin-bottom: 0;
                            }

                            .price{
                                position: absolute;
                                top: 80%;
                                right: 17%;
                            }

                            .vendidos {
                                top: 93%;
                                right: 0%;
                            }
                        }
                    }
                }
            }
        }
    }

    #body {
        margin-left: 230px;

        &.body__move {
            margin-left: 80px;
        }
    }



    .menu__side {
        left: 0;
        width: 230px;

        &__options{

            h2.productosMenu{
                font-size: .95rem;
            }
        }
    }

    .menu__side__move {
        width: 80px;
        left: 0px;
    }
}

@media screen and (min-width: 1365.98px) {

    /* HEADER */
    .start {
        padding-left: 0;
        padding-right: 0;

        .row {
            padding: 0;
            margin: 0;
        }

        &__pyme {

            h1 {
                margin: 0 auto;
                text-align: center;
                font-size: 3rem;
                margin-top: 2rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.2;
            }
        }

        &__shop {
            max-width: 100%;
            height: 92vh;
            background-image: url(../img/intro-shopping.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    /* MAIN */
    #main {

        .shop {

            &__card {
                width: 30%;
                margin: 0 .5rem;
                margin-bottom: 3rem;

                .style {
                    height: 480px;

                    .img-container {
                        height: 300px;
                        align-items: flex-end;
                    }
                }

                &__product {

                    .price,
                    .brand,
                    .like {
                        top: 5%;
                    }

                    .price {
                        top: 0%;
                    }

                    .brand {
                        top: 10%;
                        width: 52%;
                    }

                    .like {
                        top: 90%;
                        right: 45%;
                    }

                    p {
                        top: 62%;
                    }

                    .description {
                        top: 66%;
                    }

                }

            }

        }

        .modal__product {
            width: 70vw;
            height: 90vh;
            bottom: -3%;
            right: 15%;

            .productoEnCarrito {
                flex-direction: row;
                justify-content: flex-start;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    justify-content: space-evenly;
                    width: 40%;
                }
            }

            &__active {
                transform: translate(0%, -10%);
            }
        }
    }
}