@media screen and (min-width: 479.98px) {
    #main {

        .shop {

            &__card {
                width: 80%;
                margin: 0 auto;

                button {
                    width: 40%;
                }
            }

        }
    }
}

@media screen and (min-width: 575.98px) {

    .start {

        &__pyme {

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #main {

        h1 {
            font-size: 3rem;
        }

        .shop__card button {
            font-size: 1rem;

            iconify-icon {
                margin-right: 0;
            }
        }

        .modal__product {
            .resumen #pagoEnCuotas {
                p {
                    iconify-icon {
                        left: 25%;
                    }
                }
            }

            .modal__carrito {
                .btn-vaciar-carrito {
                    font-size: .8rem;
                    padding: .30rem .55rem;
                }
            }
        }

    }
}

@media screen and (min-width: 767.98px) {

    #main {

        .shop {
            justify-content: space-evenly;

            &__card {
                width: 48%;

                button {
                    width: 50%;

                    iconify-icon {
                        margin-right: 0.5rem;
                    }
                }
            }

        }

        .modal__product {

            .productoEnCarrito {
                flex-direction: row;
                padding-left: .5rem;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    width: 55%;
                }
            }

            .resumen #pagoEnCuotas {
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                p {
                    display: inline-block;

                    iconify-icon {
                        left: -21%;
                    }
                }

            }

            #btn-end {
                width: 50%;
            }
        }
    }

    #body {
        margin-left: 230px;

        &.body__move {
            margin-left: 80px;
        }
    }

    .menu__side {
        left: 0;
        width: 230px;
    }

    .menu__side__move {
        width: 80px;
        left: 0;
    }
}

@media screen and (min-width: 991.98px) {

    #main {

        .shop {

            &__card {
                width: 44%;

                button {
                    width: 45%;

                    iconify-icon {
                        margin-right: 0rem;
                    }
                }
            }

        }

        .modal__product {
            width: 75%;
            right: 12%;

            .productoEnCarrito {
                flex-direction: row;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    width: 55%;
                }
            }

            &__active {
                transform: translate(0%, -10%);
            }
        }
    }
}

@media screen and (min-width: 1279.98px) {

    #main {
        .shop {

            &__card {
                width: 29%;
            }

        }

        .modal__product {
            right: 13%;
        }
    }
}

@media screen and (min-width: 1365.98px) {

    /* HEADER */
    .start {
        padding-left: 0;
        padding-right: 0;

        .row {
            padding: 0;
            margin: 0;
        }

        &__pyme {

            h1 {
                margin: 0 auto;
                text-align: center;
                font-size: 3rem;
                margin-top: 2rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.2;
            }
        }

        &__shop {
            max-width: 100%;
            height: 92vh;
            background-image: url(../img/intro-shopping.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }


    /* MAIN */
    #main {

        .shop {

            &__card {
                width: 30%;
                margin: 0 .5rem;
                margin-bottom: 3rem;

                .style {
                    height: 450px;

                    .img-container {
                        height: 250px;
                    }
                }

                &__product {

                    .price,
                    .brand,
                    .like {
                        top: 5%;
                    }

                    .price {
                        top: 0%;
                    }

                    .brand {
                        top: 10%;
                        width: 50%;
                    }

                    .like {
                        top: 90%;
                        right: 45%;
                    }

                    p {
                        top: 55%;
                    }

                    .description {
                        top: 63%;
                    }

                }

            }

        }

        .modal__product {
            width: 60vw;
            height: 75vh;
            bottom: 0%;
            right: 20%;

            .productoEnCarrito {
                flex-direction: row;
                justify-content: flex-start;

                .inCart {
                    width: 40%;
                }

                p.cantidades {
                    justify-content: space-evenly;
                    width: 40%;
                }
            }

            &__active {
                transform: translate(0%, -10%);
            }
        }
    }
}