@media screen and (min-width: 575.98px) {
    .start {

        &__pyme {

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #main {

        h1 {
            font-size: 3rem;
        }

    }
}

@media screen and (min-width: 767.98px) {

    #main {

        .shop {

            &__card {
                width: 44%;
            }

        }

        .modal__product{

            .productoEnCarrito{
                flex-direction: row;
                padding-left: .5rem;

                .inCart{
                    width: 40%;
                }

                p.cantidades{
                    width: 55%;
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {

    #main {

        .shop {

            &__card {
                width: 44%;
            }

        }

        .modal__product{
            width: 75%;
            right: 12%;

            .productoEnCarrito{
                flex-direction: row;

                .inCart{
                    width: 40%;
                }

                p.cantidades{
                    width: 55%;
                }
            }

            &__active{
                transform: translate(0%, -10%);
            }
        }
    }
}

@media screen and (min-width: 1279.98px) {

    #main {
        .shop {

            &__card {
                width: 29%;
            }

        }

        .modal__product{
            right: 13%;
        }
    }
}

@media screen and (min-width: 1365.98px) {

    /* HEADER */
    .start {
        padding-left: 0;
        padding-right: 0;

        .row {
            padding: 0;
            margin: 0;
        }

        &__pyme {

            h1 {
                margin: 0 auto;
                text-align: center;
                font-size: 3rem;
                margin-top: 2rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.2;
            }
        }

        &__shop {
            max-width: 100%;
            height: 100vh;
            background-image: url(../img/intro-shopping.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }


    /* MAIN */
    #main {

        .shop {

            &__card {
                width: 30%;
                margin: 0;
                margin-bottom: 3rem;

                .style {
                    height: 450px;

                    .img-container {
                        height: 250px;
                    }
                }

                &__product {

                    .price,
                    .brand,
                    .like {
                        top: 5%;
                    }

                    .price {
                        top: 0%;
                    }

                    .brand {
                        top: 10%;
                        width: 50%;
                    }

                    .like {
                        top: 90%;
                        right: 45%;
                    }

                    p {
                        top: 55%;
                    }

                    .description {
                        top: 63%;
                    }

                }

            }

        }

        .modal__product{
            width: 60vw;
            height: 75vh;
            bottom: 0%;
            right: 20%;

            .productoEnCarrito{
                flex-direction: row;
                justify-content: flex-start;

                .inCart{
                    width: 40%;
                }

                p.cantidades{
                    justify-content: space-evenly;
                    width: 40%;
                }
            }

            &__active{
                transform: translate(0%, -10%);
            }
        }
    }
}