.swal2-popup{

    .swal2-title{
        font-family: $fuente-Inter;
        font-size: 1rem;
    }

    .swal2-html-container{
        font-family: $fuente-Inter;
        font-size: .9rem;
        color: $color-gris-oscuro;
    }

    .swal2-actions{

        .swal2-styled.swal2-confirm{
            border: 1px solid #212121;
            border-radius: 0.25em;
            background: initial;
            font-family: Roboto;
            text-transform: none;
            background-color: white;
            color: $color-gris-oscuro;
            font-size: 1em;
            padding: 0.25rem 2.5rem;
            transition: background-color .3s ease-in-out;

            &:hover{
                background-color: rgb(133, 255, 139);
                border-color: rgb(76, 146, 79);
            }
        }
    }
}