/*Fuentes*/
$fuente-Zilla: "Zilla Slab", serif;
$fuente-Rubik: 'Rubik', sans-serif;
$fuente-Oswald: 'Oswald', sans-serif;
$fuente-size-parrafo: 16px;
$fuente-size-titulos: 24px;

/*Colores*/
$color-persimmon: #ee7500;
$color-brown: #be6317;
$color-almond: #ffffff;
$color-gris: #636363;
$color-gris-oscuro: #393d40;
$color-deg-inti: linear-gradient(-180deg, #047c00, #212121);
$color-deg-colonial: linear-gradient(-180deg, $color-brown, #212121);
$color-deg-cocoon: linear-gradient(-180deg, #a5045d, #212121);

.inti{
    background: $color-deg-inti;
}
.colonial{
    background: $color-deg-colonial;
}
.cocoon{
    background: $color-deg-cocoon;
}