/*Fuentes*/
$fuente-Zilla: "Zilla Slab", serif;
$fuente-Roboto: 'Roboto', sans-serif;
$fuente-Montserrat: 'Montserrat', sans-serif;
$fuente-Inter: 'Inter', sans-serif;
$fuente-size-parrafo: 16px;
$fuente-size-titulos: 24px;

/*Colores*/
$color-BeigeSuave: #ecd1a7;
$color-Naranja: #f1a036;
$color-Marron: #644336;
$color-Marron-Bordes: #64433671;
$color-Plata: #eaf1f1;
$color-Plata-II: #c8c9c9;
$color-Gris: #6d7170;
$color-gris-oscuro: #212121;

.brand-infusiones{
    background-color: rgb(87, 170, 91);
}
.brand-chocolates{
    background-color: rgb(133, 111, 52);
}
.brand-leches{
    background-color: #7d438f;
}

.warningToasty,
.successToasty{
    font-family: $fuente-Inter;
    font-size: .8rem;
    border-radius: 25px;
    background: rgb(255, 133, 133);
    color: black;
}

.successToasty{
    background: rgb(133, 255, 139);
}
