/*Fuentes*/
$fuente-Zilla: "Zilla Slab", serif;
$fuente-Rubik: 'Rubik', sans-serif;
$fuente-Oswald: 'Oswald', sans-serif;
$fuente-size-parrafo: 16px;
$fuente-size-titulos: 24px;

/*Colores*/
$color-persimmon: #ee7500;
$color-brown: #d69764;
$color-almond: #ffffff;
$color-gris: #636363;
$color-gris-oscuro: #393d40;
$color-deg-inti: linear-gradient(-135deg, #D1934B, #4158d0);
$color-deg-colonial: linear-gradient(-135deg, #09c577, #4158d0);
$color-deg-cocoon: linear-gradient(-135deg, #e43997, #4158d0);

.shop__card.inti{
    background: $color-deg-inti;
}
.shop__card.colonial{
    background: $color-deg-colonial;
}
.shop__card.cocoon{
    background: $color-deg-cocoon;
}